<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="opl.launchType">
<stringAttribute key="opl.debugModel.ATTR_ELEMENT_ID" value="=ExamenRCon\figu\rations d'exécutionrEx2bis"/>
<stringAttribute key="opl.debugModel.ATTR_PROJECT" value="Examen"/>
<stringAttribute key="opl.debugModel.ATTR_RUN_CONFIG" value="Ex2bis"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Examen"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>